@import "./utils/variables";

@import "./utils/mixins";

@import "./utils/keyframes";

@import "./layout/_header.scss";

@import "./components/bouton-principal";

@import "./layout/footer";
/**********************    GENERAL   **********************/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    position: relative;
}
h1 {
    font-weight: 700;
    font-size: 24px;
}
h2 {
    font-weight: 600;
    font-size: 24px;
}
h3 {
    font-size: 16px;
    font-weight: 600;
}
/***************    ANIMATION LOADING ACCUEIL   **************/
.filtre-blanc {
    background: white;
    animation: filtre 2000ms linear forwards;
}
.loading-spinner {
    display: inline-block;
    position: fixed;
    left: 50%;
    top: 30%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-right: -100px;
    border-radius: 150px;
    border: 10px solid rgba(53, 53, 53, 0.3);
    animation: rotation 2000ms linear forwards;
    z-index: 3;
}
.loading-spinner::after {
    content: '';
    position: fixed;
    left: -10px;
    top: -10px;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    border: 10px solid transparent;
    border-top-color: #FF3BC9;
    animation: rotation 2000ms linear forwards;
    z-index: 4;
}
/************************   ACCUEIL    ***********************/


.localisation {
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    box-shadow: inset 0 2px 2px 1px rgba($color: #000000, $alpha: 0.2);

    &__icone {
        position: relative;
        right: 25px;
    }
}

.presentation {
    padding: 40px 20px 45px 20px;
    background: $couleur-4;

    &__titre {
        text-align: center;
        width: 70%;
        margin: auto;
    }

    &__txt {
        text-align: center;
        margin: 15px auto 30px auto;
        font-weight: lighter;
        font-size: 18px;
    }
}

.fonctionnement {
    padding: 45px 20px 40px 20px;

    &__titre {
        margin: 0 0 32px 0;
        position: relative;
        right: 3px;
    }
}

.btn-etape {
    background: $couleur-4;
    padding: 25px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    margin: 22px auto;
    @include shadow();

    &:active {
        @include shadow(0.3);
        background: #FAFAFA;

        .btn-etape__icone {
            color: $couleur-1;
        }
    }

    &__div-chiffre {
        background: $couleur-1;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 12px;

        div {
            color: white;
            font-size: 13px;
        }
    }

    &__icone {
        color: #888888;
        margin: 0 30px 0 12px;
    }
}

.restaurants {
    padding: 55px 20px 40px 20px;
    background: $couleur-4;
}

.vignette-resto {
    margin: 20px auto;
    border-radius: 15px;
    @include shadow();

    &:active {
        @include shadow(0.3);
    }

    .vignette-a {
        text-decoration: none;
        color: black;
        display: block;
        position: relative;
        border-radius: 15px;

        &__img {
            width: 100%;
            height: 175px;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }

        &__new {
            position: absolute;
            right: 12px;
            top: 12px;
            background: $couleur-3;
            color: darken($couleur-3, 40%);
            padding: 5px 15px;
            font-size: 14px;
            border-radius: 2px;
        }
    }

    .vignette-bandeau {
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 15px 10px;
        border-radius: 0 0 15px 15px;

        &__txt h3 {
            font-size: 18px;
        }
        &__txt p {
            margin-top: 5px;
            font-size: 17px;
            font-weight: 300;
        }

        &__coeur {
            margin: 5px 20px 0 0;
            font-size: 26px;
            position: relative;
            width: 20px;
            height: 20px;

            &-vide {
                position: absolute;
            }

            &-plein {
                background: linear-gradient(180deg, $couleur-1 0%, $couleur-2 100%);
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                position: absolute;
                opacity: 0%;
                transition: opacity 400ms;

                &:active {
                    opacity: 100%;
                }
            }
        }
    }
}

/************************   MENUS  ************************/

.header__fleche {
    color: black;
}
.photo-resto {
    height: 280px;
}
.photo-resto-vertical {
    width: 100%;
}
.menu {
    background: $couleur-4;
    border-radius: 50px 50px 0 0;
    position: relative;
    top: -50px;
    padding: 35px 15px;

    &__bloc-titre {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h1 {
            font-family: 'Shrikhand';
            font-size: 28px;
            font-weight: lighter;
        }
        & i {
            margin-right: 30px;
            font-size: 26px;
        }
    }
}
.menu-img-vertical {
    top: -250px;
}
.section-plat {
    margin: 25px 0 40px 0;

    &__titre {
        font-size: 16px;
        font-weight: lighter;
    }
    &__tiret {
        border-top: 3px solid $couleur-3;
        width: 40px;
        margin: 5px 0;
    }
}
.btn-animation {
position: relative;
margin: 12px 0;
border-radius: 15px;
overflow: hidden;
@include shadow;

&:active {
    @include shadow(0.3);
}
}
.btn-menu {
    width: 100%;
    height: 70px;
    border-radius: 15px;
    padding: 14px 10px;
    background: white;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    // overflow: hidden;

    &__titre {
        font-size: 17px;
        margin-bottom: 5px;
        width: 85%;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__ligne-inf {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;

        .detail {
            font-size: 15px;
            text-align: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .prix {
            font-size: 15px;
            font-weight: bold;
            margin: auto 10px auto 15px;
        }
    }

    &:active .detail {
        animation: btn-menu-detail 500ms forwards;
    }
    &:active .prix {
        animation: btn-menu-prix 500ms forwards;
    }
    &:active + .bloc-vert {
        animation: btn-menu-bloc-vert 500ms forwards;
    }
    &:active + .bloc-vert .icone-check {
        animation: btn-menu-icone-check 500ms forwards;
    }
}
.bloc-vert {
    background: $couleur-3;
    height: 70px;
    width: 60px;
    border-radius: 0 15px 15px 0;
    display: flex;
    position: absolute;
    right: -65px;
    top: 0;

    .icone-check {
        margin: auto;
        color: white;
        font-size: 24px;
        font-weight: bold;
    }
}
.bouton-page-menu {
    padding: 15px 50px;
}