@import "./utils/variables";

@import "./utils/mixins";

@import "./utils/keyframes";

@import "./layout/_header.scss";

@import "./components/bouton-principal";

@import "./components/bouton-menu";

@import "./layout/footer";

/**********************    GENERAL   **********************/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}

li {
    list-style: none;
}

h1 {
    font-weight: 700;
    font-size: 24px;

    @include tablet-display {
        font-size: 28px;
    }
}

h2 {
    font-weight: 600;
    font-size: 24px;

    @include tablet-display {
        font-size: 28px;
    }
}

h3 {
    font-size: 16px;
    font-weight: 600;

    @include tablet-display {
        font-size: 22px;
    }
}

/***************    ANIMATION LOADING ACCUEIL   **************/
.filtre-blanc {
    background: white;
    animation: filtre 2000ms linear forwards;
}

.loading-spinner {
    display: inline-block;
    position: fixed;
    left: 50%;
    top: 30%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-right: -100px;
    border-radius: 150px;
    border: 10px solid rgba(53, 53, 53, 0.3);
    animation: rotation 2000ms linear forwards;
    z-index: 3;
}

.loading-spinner::after {
    content: '';
    position: fixed;
    left: -10px;
    top: -10px;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    border: 10px solid transparent;
    border-top-color: #FF3BC9;
    animation: rotation 2000ms linear forwards;
    z-index: 4;
}

/************************   ACCUEIL    ***********************/


.localisation {
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    box-shadow: inset 0 8px 5px -4px rgba($color: #000000, $alpha: 0.2);

    @include tablet-display {
        font-size: 22px;
        padding: 25px 0;
    }

    @include desktop-display {
        position: absolute;
        top: 25px;
        right: 50px;
        width: 300px;
        font-size: 18px;
        background-color: white;
        padding: 13px 20px;
        color: #696969;
        border-radius: 20px;
    }

    &__icone {
        position: relative;
        right: 25px;
    }
}

.presentation {
    padding: 40px 20px 45px 20px;
    background: $couleur-4;

    @include tablet-display {
        padding: 80px 0;
        margin: 30px 30px;
        border-radius: 30px;
    }

    @include desktop-display {
        padding: 80px 0;
        margin: 0;
        border-radius: 0;
    }


    &__titre {
        text-align: center;
        width: 70%;
        margin: auto;
    }

    &__txt {
        text-align: center;
        margin: 15px auto 30px auto;
        font-weight: lighter;
        font-size: 18px;

        @include tablet-display {
            margin: 25px auto 40px auto;
            font-size: 22px;
        }
    }
}

.fonctionnement {
    padding: 45px 20px 40px 20px;

    @include tablet-display {
        padding: 60px 40px;
    }

    @include desktop-display {
        padding: 40px;
    }

    &__titre {
        margin: 0 0 50px 0;
        position: relative;
        right: 3px;
    }
}

.btn-etape {
    background: $couleur-4;
    padding: 25px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    margin: 22px auto;
    @include shadow();

    @include tablet-display {
        width: 60%;
        padding: 20px 0;
        margin: 30px auto;
        border-radius: 30px;
    }

    @include desktop-display {
        width: 30%;
        padding: 10px 0;
        margin: 25px auto;
        border-radius: 20px;
        min-width: 350px;
    }


    &:active {
        @include shadow(0.3);
        background: #FAFAFA;

        .btn-etape__icone {
            color: $couleur-1;
        }
    }

    &:hover {
        @include shadow(0.3);
        background: #FAFAFA;

        .btn-etape__icone {
            color: $couleur-1;
        }
    }


    &__div-chiffre {
        background: $couleur-1;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 12px;

        @include tablet-display {
            width: 70px;
            height: 70px;
            right: 100px;
        }

        @include desktop-display {
            width: 50px;
            height: 50px;
            right: 80px;
        }

        div {
            color: white;
            font-size: 13px;

            @include tablet-display {
                font-size: 24px;
            }

            @include desktop-display {
                font-size: 20px;
            }
        }
    }

    &__icone {
        color: #888888;
        margin: 0 30px 0 12px;

        @include tablet-display {
            font-size: 28px;
        }
    }

    &__txt {
        @include desktop-display {
            font-size: 18px;
        }
    }
}

.restaurants {
    padding: 55px 20px 40px 20px;
    background: $couleur-4;

    @include tablet-display {
        padding: 60px 40px;
    }

    @include desktop-display {
        padding: 60px 40px 100px 40px;
    }


    &__titre {
        margin: 10px 0 20px 0;
    }

    &__grille-vignettes {
        @include tablet-display {
            display: flex;
            flex-wrap: wrap;
        }

        @include desktop-display {
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }
}

.vignette-resto {
    margin: 20px auto;
    border-radius: 15px;
    @include shadow();

    @include tablet-display {
        width: 45%;
        margin: 40px auto;
    }

    @include desktop-display {
        width: 23%;
    }

    &:active {
        @include shadow(0.3);
    }

    .vignette-a {
        text-decoration: none;
        color: black;
        display: block;
        position: relative;
        border-radius: 15px;

        &__img {
            width: 100%;
            height: 175px;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }

        &__new {
            position: absolute;
            right: 12px;
            top: 12px;
            background: $couleur-3;
            color: darken($couleur-3, 40%);
            padding: 5px 15px;
            font-size: 14px;
            border-radius: 2px;

            @include tablet-display {
                padding: 10px 20px;
                font-size: 18px;
                border-radius: 5px;
            }

            @include desktop-display {
                padding: 5px 10px;
                font-size: 14px;
                border-radius: 5px;
            }
        }
    }

    .vignette-bandeau {
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 15px 10px;
        border-radius: 0 0 15px 15px;

        @include tablet-display {
            padding: 20px 20px;
        }

        @include desktop-display {
            padding: 15px 15px;
        }


        &__txt h3 {
            font-size: 18px;

            @include tablet-display {
                font-size: 22px;
            }

            @include desktop-display {
                font-size: 18px;
            }
        }

        &__txt p {
            margin-top: 5px;
            font-size: 17px;
            font-weight: 300;

            @include tablet-display {
                font-size: 19px;
            }

            @include desktop-display {
                font-size: 16px;
            }
        }

        &__coeur {
            margin: 5px 20px 0 0;
            font-size: 26px;
            position: relative;
            width: 20px;
            height: 20px;

            @include tablet-display {
                font-size: 30px;
            }

            &-vide {
                position: absolute;
            }

            &-plein {
                background: linear-gradient(180deg, $couleur-1 0%, $couleur-2 100%);
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                position: absolute;
                opacity: 0%;
                transition: opacity 400ms;

                &:active {
                    opacity: 100%;
                }

                @include desktop-display {
                    &:hover {
                        opacity: 100%;
                    }
                }
            }
        }
    }
}

/************************   MENUS  ************************/

.apparition-menu-btn-1 {
    animation: apparition-menu 600ms both;
}

.apparition-menu-btn-2 {
    animation: apparition-menu 600ms 150ms both;
}

.apparition-menu-btn-3 {
    animation: apparition-menu 600ms 300ms both;
}

.apparition-menu-btn-4 {
    animation: apparition-menu 600ms 450ms both;
}

.photo-resto {
    // height: 280px;
    width: 100%;

    @include tablet-display {
        width: 100%;
        object-fit: cover;
    }

    @include desktop-display {
        width: 100%;
        height: 400px;
    }
}

.conteneur-photo {
    height: 480px;

    @include tablet-display {
        height: 480px;
    }

    @include desktop-display {
        height: 600px;
    }
}

.photo-resto-vertical {
    width: 100%;
    object-fit: cover;
    object-position: 0 -70px;

    @include tablet-display {
        width: 100%;
        object-fit: cover;
        object-position: 0 -160px;
    }

    @include desktop-display {
        width: 100%;
        object-fit: cover;
        object-position: 0 -200px;
    }
}

.menu {
    background: $couleur-4;
    border-radius: 50px 50px 0 0;
    position: relative;
    margin-top: -50px;
    padding: 35px 15px;

    @include tablet-display {
        margin-top: 0;
        padding: 60px 30px;
    }

    &__bloc-titre {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h1 {
            font-family: 'Shrikhand';
            font-size: 28px;
            font-weight: lighter;

            @include tablet-display {
                font-size: 34px;
            }
        }

        & i {
            margin-right: 30px;
            font-size: 26px;
        }
    }
}

.menu-img-vertical {
    margin-top: -250px;

    @include tablet-display {
        margin-top: -180px;
        border-radius: 0;
    }
}

.section-plat {
    margin: 25px 0 40px 0;
    width: 100%;


    @include tablet-display {
        padding: 30px;
    }

    &__titre {
        font-size: 16px;
        font-weight: lighter;

        @include tablet-display {
            font-size: 24px;
        }

    }

    &__tiret {
        border-top: 3px solid $couleur-3;
        width: 40px;
        margin: 5px 0;

        @include tablet-display {
            width: 70px;
            border-top: 5px solid $couleur-3;
        }
    }

    &__grille-btn {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include tablet-display {
            align-items: center;
        }
    }
}