@keyframes filtre {
  0% {
    opacity: 0.3;
  }
  99% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0turn);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: rotate(2turn);
    opacity: 0;
  }
}
/**********************************************************/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: 700;
  font-size: 24px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

.filtre-blanc {
  background: white;
  animation: filtre 2000ms linear forwards;
}

/***************LOADING SPINNER****************/
.loading-spinner {
  display: inline-block;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-right: -100px;
  border-radius: 150px;
  border: 10px solid rgba(53, 53, 53, 0.3);
  animation: rotation 2000ms linear forwards;
  z-index: 3;
}

.loading-spinner::after {
  content: "";
  position: fixed;
  left: -10px;
  top: -10px;
  width: 200px;
  height: 200px;
  border-radius: 150px;
  border: 10px solid transparent;
  border-top-color: #FF3BC9;
  animation: rotation 2000ms linear forwards;
  z-index: 4;
}

.header {
  display: flex;
  justify-content: center;
  padding: 25px 0 15px 0;
}
.header__icone {
  display: none;
  /*position: absolute; left: 25px; top: 33px;*/
}
.header__img {
  width: 45%;
}

.localisation {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  box-shadow: inset 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.localisation__icone {
  position: relative;
  right: 60px;
}

.presentation {
  padding: 40px 20px 45px 20px;
  background: #f8f8f8;
}
.presentation__titre {
  text-align: center;
  width: 70%;
  margin: auto;
}
.presentation__txt {
  text-align: center;
  margin: 15px auto 30px auto;
  font-weight: lighter;
  font-size: 18px;
}
.presentation__btn {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 70px;
  display: flex;
  margin: auto;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border: none;
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
}

.fonctionnement {
  padding: 45px 20px 40px 20px;
}
.fonctionnement__titre {
  margin: 0 0 32px 0;
  position: relative;
  right: 3px;
}

.btn-etape {
  background: #f8f8f8;
  padding: 25px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  margin: 22px auto;
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
}
.btn-etape:active .btn-etape__icone {
  color: #9356DC;
}
.btn-etape__div-chiffre {
  background: #9356DC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 12px;
}
.btn-etape__div-chiffre div {
  color: white;
  font-size: 13px;
}
.btn-etape__icone {
  color: #888888;
  margin: 0 30px 0 12px;
}

.restaurants {
  padding: 55px 20px 40px 20px;
  background: #f8f8f8;
}

.vignette-resto {
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
}
.vignette-resto .vignette-a {
  text-decoration: none;
  color: black;
  display: block;
  position: relative;
  border-radius: 15px;
}
.vignette-resto .vignette-a__img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.vignette-resto .vignette-a__new {
  position: absolute;
  right: 12px;
  top: 12px;
  background: #99E2D0;
  color: #278870;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 2px;
}
.vignette-resto .vignette-bandeau {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 10px;
  border-radius: 0 0 15px 15px;
}
.vignette-resto .vignette-bandeau__txt h3 {
  font-size: 18px;
}
.vignette-resto .vignette-bandeau__txt p {
  margin-top: 5px;
  font-size: 17px;
  font-weight: 300;
}
.vignette-resto .vignette-bandeau__coeur {
  margin: 5px 20px 0 0;
  font-size: 26px;
  position: relative;
  width: 20px;
  height: 20px;
}
.vignette-resto .vignette-bandeau__coeur-vide {
  position: absolute;
}
.vignette-resto .vignette-bandeau__coeur-plein {
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  opacity: 0%;
  transition: opacity 400ms;
}
.vignette-resto .vignette-bandeau__coeur-plein:active {
  opacity: 100%;
}

.footer {
  background: #353535;
  padding: 20px 40px 30px 25px;
}
.footer__titre {
  font-family: "Shrikhand";
  color: white;
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 15px;
}
.footer .item-liste {
  list-style: none;
  margin: 7px 0;
}
.footer .item-liste-a {
  text-decoration: none;
  color: white;
  display: flex;
  font-weight: lighter;
  font-size: 16px;
  align-items: center;
}
.footer .item-liste-a__icone-1 {
  margin-right: 10px;
}
.footer .item-liste-a__icone-2 {
  margin-right: 7px;
}

/*# sourceMappingURL=style.css.map */
