.bouton-principal {
    @include gradient();
    @include shadow();
    border-radius: 70px;
    display: flex;
    margin: auto;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border: none;

    @include tablet-display {
        margin: 35px auto 0 auto;
        font-size: 22px;
        padding: 25px 30px;
    }

    @include desktop-display {
        cursor: pointer;
    }

}

.bouton-page-menu {
    padding: 15px 50px;

    @include tablet-display {
        padding: 20px 70px;
        font-size: 24px;
    }
}