.btn-animation {
    position: relative;
    margin: 12px 0;
    border-radius: 15px;
    overflow: hidden;
    @include shadow;

    &:active {
        @include shadow(0.3);
    }

    @include tablet-display {
        width: 70%;
    }

    @include desktop-display {
        width: 50%;

        &:hover {
            @include shadow(0.3);
        }
    }
}

.btn-menu {
    height: 50px;
    border-radius: 15px;
    padding: 10px 12px;
    background: white;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;

    &:active .btn-menu__titre {
        animation: btn-menu-detail 500ms forwards;
    }

    &:active .detail {
        animation: btn-menu-detail 500ms forwards;
    }

    &:active .prix {
        animation: btn-menu-prix 500ms forwards;
    }

    &:active+.bloc-vert {
        animation: btn-menu-bloc-vert 500ms forwards;
    }

    &:active+.bloc-vert .icone-check {
        animation: btn-menu-icone-check 500ms forwards;
    }

    @include tablet-display {
        height: 80px;
        padding: 20px 25px;

        &:active .btn-menu__titre {
            animation: btn-menu-detail_tab 500ms forwards;
        }

        &:active .detail {
            animation: btn-menu-detail_tab 500ms forwards;
        }

        &:active .prix {
            animation: btn-menu-prix_tab-desk 500ms forwards;
        }

        &:active+.bloc-vert {
            animation: btn-menu-bloc-vert_tab-desk 500ms forwards;
        }
    }

    @include desktop-display {
        padding: 20px 30px;

        &:hover .btn-menu__titre {
            animation: btn-menu-detail 500ms forwards;
        }

        &:hover .detail {
            animation: btn-menu-detail 500ms forwards;
        }

        &:hover .prix {
            animation: btn-menu-prix_tab-desk 500ms forwards;
        }

        &:hover+.bloc-vert {
            animation: btn-menu-bloc-vert_tab-desk 500ms forwards;
        }

        &:hover+.bloc-vert .icone-check {
            animation: btn-menu-icone-check 500ms forwards;
        }
    }

    &__titre {
        font-size: 17px;
        width: 85%;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @include tablet-display {
            font-size: 23px;
        }

        @include desktop-display {
            font-size: 20px;
            margin-bottom: 15px;
        }

    }

    &__ligne-inf {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;

        .detail {
            font-size: 15px;
            text-align: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            @include tablet-display {
                font-size: 20px;
            }

            @include desktop-display {
                font-size: 16px;
            }
        }

        .prix {
            font-size: 15px;
            font-weight: bold;
            margin: auto 10px auto 15px;

            @include tablet-display {
                font-size: 20px;
            }

            @include desktop-display {
                font-size: 16px;
            }
        }
    }
}

.bloc-vert {
    background: $couleur-3;
    height: 100%;
    width: 60px;
    border-radius: 0 15px 15px 0;
    display: flex;
    position: absolute;
    right: -65px;
    top: 0;

    @include tablet-display {
        width: 100px;
        right: -100px;
    }

    .icone-check {
        margin: auto;
        color: white;
        font-size: 24px;
        font-weight: bold;

        @include tablet-display {
            font-size: 40px;
        }

        @include desktop-display {
            font-size: 30px;
        }
    }
}